* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f7f2e8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

button {
  font-family: inherit;
}